.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    padding-bottom: 20px;
   
    background-color: white;
  }
  
  .product__info {
    height: 100px;
  }
  
  .product__info > p {
    text-align:left;
    font-size: 1.5rem;
    margin-top: -1.2rem;
  }
  
  .product__group {
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }
  
  .product__price {
    margin-top: -2.1rem;
    padding-right: 85px;
    font-size: 1.8rem;
  }
  
  .product__rating {
    display: flex;
    color: #f0c14b;
    margin-top: -1.3rem;
  }
  
  .product > img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    margin-bottom: 15px;
    transition: all 0.5s;
  }
  
  .product > img:hover {
    transform: scale(1.05);
  }
  
  .product > button {
    background-color: #ff3e6c;
    border: 1px solid #ff3e6c;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px 10px;
    width: 72%;
    transition: all 0.1s ease-in-out;
    border-radius: 0.5rem;
    min-width: 108px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    text-align: center;
    margin-top: -5rem;
  }

  .product > button:hover {
    transform: scale(1.04);
  }

