html {
  font-size: 62.5%;
}

.footer {
  background-color: #fafbfc;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  padding-top: 2.5rem;
  margin-top: 10rem;
}

.rowforfooter {
  margin: 1rem 15rem;
}
.top {
  color: #282c3f;
  padding-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.4rem;
}

.online {
  font-size: 1.2rem;
  margin: 1rem 4rem;
}

.icons {
  height: 1rem;
}
.icons ion-icon {
  height: 2rem;
  padding-right: 1rem;
}
.subscription {
  border-radius: 3rem;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem;
  margin-bottom: -0.1rem;
  background-color: #fafbfc;
  border: none;
  color: #94969f;
  display: block;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 0;
  max-width: 100%;
}

.button {
  border-radius: 5rem;
  font-size: 1.2rem;
}

.copyright {
  color: #94969f;
  font-size: 1.4rem;
  float: inherit;
  font-weight: 100;
}
.copyright > p {
  margin-top: -0.5rem;
  margin-left: 40rem;
}

@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}
